{% trans_default_domain 'FOSUserBundle' %}



{#
<form action="{{ path("fos_user_security_check") }}" method="post">xxx
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />

    <input type="checkbox"/>
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
#}


<div id="page-title" class="padding-tb-30px gradient-white">
    <div class="container text-center">
        <ol class="breadcrumb opacity-5">
            <li><a href="#">Home
                    <svg class="svg-inline--fa fa-angle-right fa-w-8" data-fa-pseudo-element=":after" aria-hidden="true"
                         data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 256 512" data-fa-i2svg="">
                        <path fill="currentColor"
                              d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                    </svg><!-- <i class="fas" data-fa-pseudo-element=":after"></i> --></a></li>
            <li class="active">Login</li>
        </ol>
        <h1 class="font-weight-300">Se connecter</h1>
    </div>
</div>

<div class="container margin-bottom-100px">
    <!--======= log_in_page =======-->
    <div id="log-in" class="site-form log-in-form box-shadow border-radius-10">

        <div class="form-output">
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
            {% endif %}


            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div class="form-group label-floating">
                    <label class="control-label">{{ 'security.login.username'|trans }} :</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
                           required="required" autocomplete="username">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label">{{ 'security.login.password'|trans }} :</label>
                    <input type="password" id="password" name="_password" required="required" class="form-control"
                           autocomplete="current-password"/>
                </div>

                <div class="remember">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                            {{ 'security.login.remember_me'|trans }}
                        </label>
                    </div>
                    <a href="#" class="forgot">Forgot my Password</a>
                </div>

                <button type="submit" id="_submit" name="_submit"
                        class="btn btn-md btn-primary full-width">{{ 'security.login.submit'|trans }}</button>

                <div class="or"></div>


                <p>Nouveau sur  le site?  <a href="{{ path("fos_user_registration_register") }}">S'enregistrer</a></p>
            </form>
        </div>
    </div>
    <!--======= // log_in_page =======-->

</div>